torch==2.8.0
triton==3.4.0
transformers==4.57.3
xxhash==3.6.0
aiohttp==3.13.3
fastapi==0.128.0
uvicorn==0.40.0
pandas==2.3.3
datasets==4.0.0
pillow==12.1.0
psutil==7.2.1
pynvml==13.0.1
seaborn==0.13.2
duckdb==1.4.3
pyzmq==27.1.0
zeus==0.13.1
nvtx==0.2.14
pyarrow==20.0.0
